

@media only screen and (max-width: 1599px){
	.w{width:92%;margin:0 auto;}
	.mLeft{margin-left:18px;}
}

@media only screen and (max-width: 1440px){
	/*.news-btm li.otherW{width:360px;background:white;margin-right:45px;overflow:hidden;height:100%;}
	div.otherCan{width:1170px;height:480px;margin:0 auto;overflow:hidden;}
	.news-btm .txt h3{margin-top:0;}*/
	div.achivOtherCan{width:1170px;height:426px;}
	.achiv-btm-l{width:738px;height:100%;}
	.achiv-btm-r{width:402px;height:100%;}
	.smallBannerH{height:383px;}
	.iconPicH{height:383px;}
	.achivCanH{height:786px;}
}